############################################
# Build folders
############################################
bin/
obj/
dist/
build/

############################################
# User specific files
############################################
*.user
*.suo
*.userprefs
*.csproj.user
*.dbmdl

############################################
# Logs
############################################
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################################
# VS Code
############################################
.vscode/

############################################
# Node
############################################
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

############################################
# Angular
############################################
.angular/
coverage/

############################################
# Environment files
############################################
.env
.env.*
appsettings.Development.json

############################################
# EF Core Migrations Snapshot
############################################
# Migrations/
